body {
  padding: 0;
}

.search-main {
  position: relative;
  width: 30em;
  margin: 2em auto;
  box-shadow: lightgrey 0px 0px 6px 0px;
}

.results {
  list-style: none;
  padding: 0;
  margin-top: 0;
  width: 100%;
  max-height: 24em;
  overflow-y: auto;
}

.result-row {
  cursor: pointer;
  padding: 1em 2em;
}

.result-row:not(:first-child) {
  border-top: 0.5px solid lightgrey;
}

.search-parent {
  border: 1px solid lightgrey;
  position: relative;
  height: 36px;
}

.search-box {
  width: calc(100% - 70px);
  height: calc(100% - 2px);
  outline: none;
  border: none;
  float: left;
}

.selected {
  background-color: #FAD38B;
}

.search-icon {
  padding: 9px 8px;
  float: left;
}

.clear-icon {
  float: right;
  font-size: 1.6em;
  line-height: 1.6;
  padding: 0 6px;
  color: gray;
  cursor: pointer;
}

h4, p {
  margin: 3px;
}

h4 {
  text-transform: uppercase;
}

.items {
  border-top: 0.5px solid lightgrey;
  border-bottom: 0.5px solid lightgrey;
  padding: 4px;
}

.no-result {
  padding: 2em;
}